@import url("../fonts/Gilroy_fonts/stylesheet.css");
@import url("../fonts/website-font/stylesheet.css");
html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
}

ul,
li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
}

a:hover {
  text-decoration: none;
}

* html .clearfix {
  height: 1%;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
span,
p,
a,
label {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.ease,
a,
input[type="submit"],
button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.relative {
  position: relative;
}

.clearfix {
  display: block;
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.middle-div {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.hori-div {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bg-common {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.relative, .rel {
  position: relative;
}

.absolute, .abs {
  position: absolute;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

.z-top {
  position: relative;
  z-index: 80;
}

.change_header_bg {
  background: rgba(0, 0, 0, 0.8);
}

.main_header_bg {
  background-color: transparent;
}

.active_bg {
  background: rgba(0, 0, 0, 0.6);
}

.section_padding {
  padding: 100px 0;
}

.navbar-toggler {
  display: block;
  padding: 27px 19px;
  width: 18px;
  height: 2px;
  border: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-clip: content-box;
  -webkit-transition: background-color 500ms ease-in-out 250ms;
  transition: background-color 500ms ease-in-out 250ms;
  background-color: #fff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-toggler:hover {
  cursor: pointer;
}

.navbar-toggler:before, .navbar-toggler:after {
  position: relative;
  content: '';
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.navbar-toggler:before {
  top: -6px;
}

.navbar-toggler:after {
  bottom: -4px;
}

.navbar-toggler__text {
  display: none;
}

.navbar-toggler--active {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navbar-toggler--active:before {
  -webkit-transform: translateY(6px) rotate(-225deg);
          transform: translateY(6px) rotate(-225deg);
}

.navbar-toggler--active:after {
  -webkit-transform: translateY(-6px) rotate(225deg);
          transform: translateY(-6px) rotate(225deg);
}

#site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#site-header.hide {
  top: -130px;
}

header {
  padding: 10px 30px;
}

header .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-brand img {
  max-width: 80px;
}

header .navbar-brand h1 {
  font-size: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #fff;
  letter-spacing: 5px;
  margin-left: 20px;
}

header .navbar-nav li:not(:last-child) {
  margin-right: 50px;
}

header .navbar-nav li a {
  color: #fff;
  font-size: 24px;
  font-family: 'century_gothicregular';
}

.homebanner {
  min-height: 100vh;
  background: #00384a;
  background: -webkit-gradient(linear, left top, right top, from(#00384a), to(#775e83));
  background: linear-gradient(90deg, #00384a 0%, #775e83 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homebanner .panel-search h1 {
  color: #fff;
  font-size: 100px;
  font-family: 'britannic_boldregular';
  margin-bottom: 20px;
}

.homebanner .panel-search .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homebanner .panel-search .search-wrapper .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  min-height: 31px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 70%;
}

.homebanner .panel-search .search-wrapper .inner-wrapper button {
  background: none;
  border: none;
}

.homebanner .panel-search .search-wrapper .inner-wrapper button i {
  font-size: 30px;
  color: #acacac;
}

.homebanner .panel-search .search-wrapper .inner-wrapper input {
  width: 100%;
  border: none;
  padding: 10px 0;
  margin-left: 10px;
  font-size: 20px;
  color: #000;
  font-family: 'century_gothicregular';
  font-weight: 400;
}

.homebanner .panel-search .search-wrapper .inner-wrapper input::-webkit-input-placeholder {
  font-size: 20px;
  color: #acacac;
  font-family: 'century_gothicregular';
  font-weight: 400;
}

.homebanner .panel-search .search-wrapper .inner-wrapper input:-ms-input-placeholder {
  font-size: 20px;
  color: #acacac;
  font-family: 'century_gothicregular';
  font-weight: 400;
}

.homebanner .panel-search .search-wrapper .inner-wrapper input::-ms-input-placeholder {
  font-size: 20px;
  color: #acacac;
  font-family: 'century_gothicregular';
  font-weight: 400;
}

.homebanner .panel-search .search-wrapper .inner-wrapper input::placeholder {
  font-size: 20px;
  color: #acacac;
  font-family: 'century_gothicregular';
  font-weight: 400;
}

.homebanner .panel-search .search-wrapper .button-submit-search {
  margin-left: 10px;
  width: 20%;
}

.homebanner .panel-search .search-wrapper .button-submit-search input {
  padding: 17px 20px;
  background: #52bfef;
  font-size: 20px;
  color: #fff;
  font-family: 'century_gothicregular';
  font-weight: 400;
  border-radius: 5px;
  border: none;
}

.homebanner .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homebanner .logo-wrapper img {
  opacity: 0.5;
}

.homebanner .logo-wrapper h1 {
  position: absolute;
  color: #fff;
  font-size: 200px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  letter-spacing: 40px;
}

.homebanner .col-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container-fluid {
  padding: 0 100px;
}

.product-section {
  padding: 100px 0;
  border-bottom: 1px solid #00384a;
}

.product-section .list-product.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.product-section .list-product.owl-carousel .owl-dots .owl-dot {
  height: 25px;
  width: 25px;
  background-color: #bababa;
  border-radius: 50%;
  margin: 0 5px;
}

.product-section .list-product.owl-carousel .owl-dots .owl-dot.active {
  background-color: #00384a;
}

.product-section .list-product .product-wrapper .product-img {
  border: 1px solid #717375;
}

.product-section .list-product .product-wrapper .product-img img {
  width: 100%;
  height: 670px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-section .list-product .product-wrapper .product-description {
  height: 100%;
  background: #00384a;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.product-section .list-product .product-wrapper .product-description .inner-wrapper {
  max-width: 370px;
  margin: 0 auto;
  width: 100%;
}

.product-section .list-product .product-wrapper .product-description .inner-wrapper h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  font-size: 40px;
  opacity: 0.8;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.product-section .list-product .product-wrapper .product-description .inner-wrapper .price {
  color: #fff;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  opacity: 0.8;
}

.product-section .list-product .product-wrapper .product-description .inner-wrapper a {
  color: #fff;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  opacity: 0.8;
}

@media (min-width: 992px) {
  .product-section .product-wrapper .product-description:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -46px;
    margin: auto 0;
    height: 49px;
    width: 47px;
    background-color: #00384a;
    -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
}

.common-header {
  margin-bottom: 80px;
}

.common-header h1 {
  font-size: 40px;
  color: #00384a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.common-header .divider {
  height: 30px;
  width: 197px;
  background-color: #00384a;
  border-radius: 50px;
  margin: 0 auto;
}

.latest-products {
  padding: 100px 0;
}

.latest-products .row-products .common-col {
  padding: 0 30px;
}

.latest-products .row-products .product-wrapper .product-image img {
  width: 100%;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}

.latest-products .row-products .product-wrapper .product-details {
  margin-top: 10px;
}

.latest-products .row-products .product-wrapper .product-details h1 {
  font-size: 30px;
  color: #00384a;
  font-family: 'century_gothicregular';
  font-weight: 500;
}

footer {
  background: #00384a;
  background: -webkit-gradient(linear, left top, right top, color-stop(64%, #00384a), to(#775e83));
  background: linear-gradient(90deg, #00384a 64%, #775e83 100%);
  padding: 30px 0 0;
}

footer .common-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

footer .common-col:not(:last-child) {
  border-right: 1px solid #fff;
}

footer .footer-wrapper h1 {
  color: #fff;
  font-family: 'century_gothicregular';
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

footer .footer-wrapper ul li {
  margin-bottom: 5px;
}

footer .footer-wrapper ul li a {
  color: #fff;
  font-family: 'century_gothicregular';
  font-size: 30px;
}

footer .footer-wrapper p {
  color: #fff;
  font-family: 'century_gothicregular';
  font-size: 25px;
}

footer .footer-wrapper .list-contact li {
  margin-bottom: 20px;
}

footer .footer-note {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
}

footer .footer-note p {
  color: #000;
  font-family: 'century_gothicregular';
  font-size: 25px;
}

.latest-products .row-products .product-wrapper {
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */